:root{
    --text-color--: black;
    --text-color-blend--: black;
    --back-up-color--: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}    
body{
    width: 100%;
    height: 100%;
    background: url(D:\lerlec.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
li a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.5s;
}li a :hover{
    background-color: var(--text-color--);
}
.active{
    background-color: var(--text-color--);
}
button{
    border: 2px solid var(--back-up-color--);
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--back-up-color--);
    transition: 0.6s;
}
button:hover{
    background-color: var(--back-up-color--);
    color: #000;
}
.home-content{
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    height: 70vh;
}
.home-container{
    align-items: center;
    width: 699px;
}
.home-container h1{
    color: black;
    font-size: 5rem;
    padding-bottom: 30px;
}
.home-container p{
    color: black;
    padding-bottom: 20px;
}
.explore{
    margin-left: 20px;
}
.Hobi-content{
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    height: 70vh;
}
.Hobi-container{
    align-items: center;
    width: 699px;
}
.Hobi-container h1{
    color: black;
    font-size: 5rem;
    padding-bottom: 30px;
}
.Hobi-container p{
    color: black;
    padding-bottom: 20px
}    
.home-container h2{
    color: black;
    font-size: 5rem;
    padding-bottom: 30px;
}
.home-container p{
    color: black;
    padding-bottom: 20px;
}